@import "normalize.css";

@import "./_layout";
@import "./_typography";

@import "./components/site-header";
@import "./components/site-content";
@import "./components/site-footer";

@import "./components/progress-bar";

:root {
  --brandPrimary: #30d17d;
  --brandSecondary: #00bad3;
  --brandTertiary: #d9534f;
  --white: #ffffff;
  --lighterGray: #e1e1e1;
  --lightGray: #e5e5e5;
  --gray: #999999;
  --darkGray: #333333;
  --black: #111111);
}

@custom-media --phone (min-width: 576px);
@custom-media --phone-landscape (min-width: 665px) and (max-width: 759px);
@custom-media --tablet (min-width: 760px);
@custom-media --desktop (min-width: 992px);
@custom-media --large-desktop (min-width: 1330px);
@custom-media --turd-browser screen and (-ms-high-contrast: active),
  screen and (-ms-high-contrast: none);
